@use "sass:math";

@mixin select-tags-size($height, $tagHeight) {

  .#{$prefix}-select-choice .#{$prefix}-select-search-field,
  .#{$prefix}-select-tags-li {
    line-height: $height - 2px; // 2 * border-width;
  }

  .#{$prefix}-select-search-field {
    line-height: $height;
  }

  $space: math.div($height - $tagHeight - 2px, 2);

  .#{$prefix}-tag {
    margin-left: $space;
    margin-top: $space;
    margin-bottom: $space;
  }

  &.#{$prefix}-select-selected {

    // border-color: $select-selected-border-color;
    .#{$prefix}-select-multiple-input {
      padding-left: 0;
    }
  }

  // 下拉icon 居中
  .#{$prefix}-input-suffix-inner {
    transform: translateY(math.div($height, 2)) translateY(-55%);
  }
}