@use "sass:math";

@mixin pagination-size($fontSize, $iconSize, $widthHeight, $margin) {
  font-size: $fontSize;
  min-width: $widthHeight;
  height: $widthHeight;
  line-height: $widthHeight - 2;
  margin-left: $margin;

  &:last-child {
    margin-left: math.div($margin, 2);
  }

  &:nth-child(2) {
    margin-left: math.div($margin, 2);
  }

  &.#{$prefix}-pager-prev,
  &.#{$prefix}-pager-quickprev,
  &.#{$prefix}-pager-next,
  &.#{$prefix}-pager-quicknext {
    font-size: $iconSize;
  }
}

@mixin pagination-color($color) {
  color: $color;
  border-color: $color;
}