@font-face {
  font-family: 'icon';
  src:
    url('./assets/fonts/icon.ttf?pfh4hv') format('truetype'),
    url('./assets/fonts/icon.woff?pfh4hv') format('woff'),
    url('./assets/fonts/icon.svg?pfh4hv#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beijing:before {
  content: "\e902";
}
.icon-guangzhou:before {
  content: "\e903";
}
.icon-shanghai:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e900";
}
.icon-copy:before {
  content: "\e901";
}
