@font-face {
  font-family: "#{$icon-font-family}";
  src: url('#{$icon-font-path}/mtdicon.eot?t=1657613822643');
  /* IE9*/
  src: url('#{$icon-font-path}/mtdicon.eot?t=1657613822643#iefix') format('embedded-opentype'),
  /* IE6-IE8 */
  url('#{$icon-font-path}/mtdicon.woff?t=1657613822643') format('woff'),
  /* chrome, firefox */
  url('#{$icon-font-path}/mtdicon.ttf?t=1657613822643') format('truetype'),
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('#{$icon-font-path}/mtdicon.svg?t=1657613822643#mtdicon') format('svg');
  /* iOS 4.1- */
}

/* .#{$icon-prefix} {
  font-family: "mtdicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.#{$icon-prefix}-floor-fill:before {
  content: "\e000";
}

.#{$icon-prefix}-floor:before {
  content: "\e001";
}

.#{$icon-prefix}-globe:before {
  content: "\e002";
}

.#{$icon-prefix}-location-o:before {
  content: "\e003";
}

.#{$icon-prefix}-location:before {
  content: "\e004";
}

.#{$icon-prefix}-align-center:before {
  content: "\e005";
}

.#{$icon-prefix}-align-justify:before {
  content: "\e006";
}

.#{$icon-prefix}-align-left:before {
  content: "\e007";
}

.#{$icon-prefix}-align-right:before {
  content: "\e008";
}

.#{$icon-prefix}-alphabetically:before {
  content: "\e009";
}

.#{$icon-prefix}-cleaner-format:before {
  content: "\e00a";
}

.#{$icon-prefix}-collapse:before {
  content: "\e00b";
}

.#{$icon-prefix}-color-fill:before {
  content: "\e00c";
}

.#{$icon-prefix}-color-font:before {
  content: "\e00d";
}

.#{$icon-prefix}-delete-selected-row:before {
  content: "\e00e";
}

.#{$icon-prefix}-expand:before {
  content: "\e00f";
}

.#{$icon-prefix}-font-size-1:before {
  content: "\e010";
}

.#{$icon-prefix}-font-size-2:before {
  content: "\e011";
}

.#{$icon-prefix}-form:before {
  content: "\e012";
}

.#{$icon-prefix}-format-bold:before {
  content: "\e013";
}

.#{$icon-prefix}-header-column:before {
  content: "\e014";
}

.#{$icon-prefix}-header-line:before {
  content: "\e015";
}

.#{$icon-prefix}-insert-column-left:before {
  content: "\e016";
}

.#{$icon-prefix}-insert-column-right:before {
  content: "\e017";
}

.#{$icon-prefix}-insert-row-down:before {
  content: "\e018";
}

.#{$icon-prefix}-insert-row-up:before {
  content: "\e019";
}

.#{$icon-prefix}-italic:before {
  content: "\e01a";
}

.#{$icon-prefix}-list-bulleted:before {
  content: "\e01b";
}

.#{$icon-prefix}-list-numbered:before {
  content: "\e01c";
}

.#{$icon-prefix}-list-view:before {
  content: "\e01d";
}

.#{$icon-prefix}-merge-cells:before {
  content: "\e01e";
}

.#{$icon-prefix}-paint:before {
  content: "\e01f";
}

.#{$icon-prefix}-serikeethrough:before {
  content: "\e020";
}

.#{$icon-prefix}-toc:before {
  content: "\e021";
}

.#{$icon-prefix}-underlined:before {
  content: "\e022";
}

.#{$icon-prefix}-unmerge-cells:before {
  content: "\e023";
}

.#{$icon-prefix}-cancel-circle-fill:before {
  content: "\e024";
}

.#{$icon-prefix}-cancel-circle:before {
  content: "\e025";
}

.#{$icon-prefix}-check-thick:before {
  content: "\e026";
}

.#{$icon-prefix}-check:before {
  content: "\e027";
}

.#{$icon-prefix}-checkbox-checked-o:before {
  content: "\e028";
}

.#{$icon-prefix}-checkbox-checked:before {
  content: "\e029";
}

.#{$icon-prefix}-checkbox-unchecked-o:before {
  content: "\e02a";
}

.#{$icon-prefix}-checkmini:before {
  content: "\e02b";
}

.#{$icon-prefix}-close:before {
  content: "\e02c";
}

.#{$icon-prefix}-closemini:before {
  content: "\e02d";
}

.#{$icon-prefix}-error-circle:before {
  content: "\e02e";
}

.#{$icon-prefix}-error:before {
  content: "\e02f";
}

.#{$icon-prefix}-info-circle-o:before {
  content: "\e030";
}

.#{$icon-prefix}-info-circle:before {
  content: "\e031";
}

.#{$icon-prefix}-nosign:before {
  content: "\e032";
}

.#{$icon-prefix}-provisional:before {
  content: "\e033";
}

.#{$icon-prefix}-question-circle-o:before {
  content: "\e034";
}

.#{$icon-prefix}-question-circle:before {
  content: "\e035";
}

.#{$icon-prefix}-question-mark:before {
  content: "\e036";
}

.#{$icon-prefix}-questionmini:before {
  content: "\e037";
}

.#{$icon-prefix}-radio-unchecked:before {
  content: "\e038";
}

.#{$icon-prefix}-shield-fill:before {
  content: "\e039";
}

.#{$icon-prefix}-shield-success-fill:before {
  content: "\e03a";
}

.#{$icon-prefix}-shield-success:before {
  content: "\e03b";
}

.#{$icon-prefix}-shield:before {
  content: "\e03c";
}

.#{$icon-prefix}-success-circle:before {
  content: "\e03d";
}

.#{$icon-prefix}-success-o:before {
  content: "\e03e";
}

.#{$icon-prefix}-warning-circle-o:before {
  content: "\e03f";
}

.#{$icon-prefix}-warning-circle:before {
  content: "\e040";
}

.#{$icon-prefix}-warning:before {
  content: "\e041";
}

.#{$icon-prefix}-warningmini:before {
  content: "\e042";
}

.#{$icon-prefix}-adaptation-screen:before {
  content: "\e043";
}

.#{$icon-prefix}-airplayvideo:before {
  content: "\e044";
}

.#{$icon-prefix}-bell-o:before {
  content: "\e045";
}

.#{$icon-prefix}-bell-slash-fill:before {
  content: "\e046";
}

.#{$icon-prefix}-bell:before {
  content: "\e047";
}

.#{$icon-prefix}-camera-fill:before {
  content: "\e048";
}

.#{$icon-prefix}-camera:before {
  content: "\e049";
}

.#{$icon-prefix}-customer-o:before {
  content: "\e04a";
}

.#{$icon-prefix}-customer:before {
  content: "\e04b";
}

.#{$icon-prefix}-demonstration:before {
  content: "\e04c";
}

.#{$icon-prefix}-enlarge:before {
  content: "\e04d";
}

.#{$icon-prefix}-exit-fullscreen-o:before {
  content: "\e04e";
}

.#{$icon-prefix}-fullscreen-o:before {
  content: "\e04f";
}

.#{$icon-prefix}-keyboard:before {
  content: "\e050";
}

.#{$icon-prefix}-laser-pen:before {
  content: "\e051";
}

.#{$icon-prefix}-log-out:before {
  content: "\e052";
}

.#{$icon-prefix}-micrify:before {
  content: "\e053";
}

.#{$icon-prefix}-monitor:before {
  content: "\e054";
}

.#{$icon-prefix}-mosaic:before {
  content: "\e055";
}

.#{$icon-prefix}-original:before {
  content: "\e056";
}

.#{$icon-prefix}-phone:before {
  content: "\e057";
}

.#{$icon-prefix}-picture-fill:before {
  content: "\e058";
}

.#{$icon-prefix}-picture:before {
  content: "\e059";
}

.#{$icon-prefix}-play-fill:before {
  content: "\e05a";
}

.#{$icon-prefix}-play:before {
  content: "\e05b";
}

.#{$icon-prefix}-quote:before {
  content: "\e05c";
}

.#{$icon-prefix}-rotate:before {
  content: "\e05d";
}

.#{$icon-prefix}-search:before {
  content: "\e05e";
}

.#{$icon-prefix}-shape:before {
  content: "\e05f";
}

.#{$icon-prefix}-tailoring:before {
  content: "\e060";
}

.#{$icon-prefix}-unbell:before {
  content: "\e061";
}

.#{$icon-prefix}-video:before {
  content: "\e062";
}

.#{$icon-prefix}-volume:before {
  content: "\e063";
}

.#{$icon-prefix}-volume1:before {
  content: "\e064";
}

.#{$icon-prefix}-volume2:before {
  content: "\e065";
}

.#{$icon-prefix}-volume3:before {
  content: "\e066";
}

.#{$icon-prefix}-bank-card-fill:before {
  content: "\e067";
}

.#{$icon-prefix}-calculator-o:before {
  content: "\e068";
}

.#{$icon-prefix}-calculator:before {
  content: "\e069";
}

.#{$icon-prefix}-calendar-o:before {
  content: "\e06a";
}

.#{$icon-prefix}-calendar:before {
  content: "\e06b";
}

.#{$icon-prefix}-cart-o:before {
  content: "\e06c";
}

.#{$icon-prefix}-database-fill:before {
  content: "\e06d";
}

.#{$icon-prefix}-database-o:before {
  content: "\e06e";
}

.#{$icon-prefix}-ellipsis:before {
  content: "\e06f";
}

.#{$icon-prefix}-handle:before {
  content: "\e070";
}

.#{$icon-prefix}-home-o:before {
  content: "\e071";
}

.#{$icon-prefix}-home:before {
  content: "\e072";
}

.#{$icon-prefix}-invoice-fill:before {
  content: "\e073";
}

.#{$icon-prefix}-invoice:before {
  content: "\e074";
}

.#{$icon-prefix}-load:before {
  content: "\e075";
}

.#{$icon-prefix}-menus-o:before {
  content: "\e076";
}

.#{$icon-prefix}-more-circle-fill:before {
  content: "\e077";
}

.#{$icon-prefix}-more-circle-o-fill:before {
  content: "\e078";
}

.#{$icon-prefix}-more-circle:before {
  content: "\e079";
}

.#{$icon-prefix}-more:before {
  content: "\e07a";
}

.#{$icon-prefix}-nonetwork:before {
  content: "\e07b";
}

.#{$icon-prefix}-point:before {
  content: "\e07c";
}

.#{$icon-prefix}-slider-settings:before {
  content: "\e07d";
}

.#{$icon-prefix}-square-stack-up-fill:before {
  content: "\e07e";
}

.#{$icon-prefix}-square-stack-up:before {
  content: "\e07f";
}

.#{$icon-prefix}-template:before {
  content: "\e080";
}

.#{$icon-prefix}-theme-o:before {
  content: "\e081";
}

.#{$icon-prefix}-theme:before {
  content: "\e082";
}

.#{$icon-prefix}-time-o:before {
  content: "\e083";
}

.#{$icon-prefix}-time:before {
  content: "\e084";
}

.#{$icon-prefix}-wifi-o:before {
  content: "\e085";
}

.#{$icon-prefix}-at:before {
  content: "\e086";
}

.#{$icon-prefix}-avatar-add-fill:before {
  content: "\e087";
}

.#{$icon-prefix}-avatar-add:before {
  content: "\e088";
}

.#{$icon-prefix}-avatar-fill:before {
  content: "\e089";
}

.#{$icon-prefix}-avatar-group-fill:before {
  content: "\e08a";
}

.#{$icon-prefix}-avatar-group:before {
  content: "\e08b";
}

.#{$icon-prefix}-avatar-o:before {
  content: "\e08c";
}

.#{$icon-prefix}-badge:before {
  content: "\e08d";
}

.#{$icon-prefix}-bolt:before {
  content: "\e08e";
}

.#{$icon-prefix}-comment-fill:before {
  content: "\e08f";
}

.#{$icon-prefix}-comment:before {
  content: "\e090";
}

.#{$icon-prefix}-contacts-fill:before {
  content: "\e091";
}

.#{$icon-prefix}-contacts:before {
  content: "\e092";
}

.#{$icon-prefix}-dislike-fill:before {
  content: "\e093";
}

.#{$icon-prefix}-education-fill:before {
  content: "\e094";
}

.#{$icon-prefix}-education:before {
  content: "\e095";
}

.#{$icon-prefix}-fabulous-fill:before {
  content: "\e096";
}

.#{$icon-prefix}-flame-fill:before {
  content: "\e097";
}

.#{$icon-prefix}-flame:before {
  content: "\e098";
}

.#{$icon-prefix}-forward-o:before {
  content: "\e099";
}

.#{$icon-prefix}-id-card-fill:before {
  content: "\e09a";
}

.#{$icon-prefix}-id-card:before {
  content: "\e09b";
}

.#{$icon-prefix}-jigsaw-fill:before {
  content: "\e09c";
}

.#{$icon-prefix}-jigsaw:before {
  content: "\e09d";
}

.#{$icon-prefix}-like-fill:before {
  content: "\e09e";
}

.#{$icon-prefix}-dislike:before {
  content: "\e09f";
}

.#{$icon-prefix}-fabulous:before {
  content: "\e0a0";
}

.#{$icon-prefix}-like:before {
  content: "\e0a1";
}

.#{$icon-prefix}-meetingroom-fill:before {
  content: "\e0a2";
}

.#{$icon-prefix}-meetingroom:before {
  content: "\e0a3";
}

.#{$icon-prefix}-meh-o:before {
  content: "\e0a4";
}

.#{$icon-prefix}-meh:before {
  content: "\e0a5";
}

.#{$icon-prefix}-paperplane-fill:before {
  content: "\e0a6";
}

.#{$icon-prefix}-paperplane:before {
  content: "\e0a7";
}

.#{$icon-prefix}-review:before {
  content: "\e0a8";
}

.#{$icon-prefix}-sad-o:before {
  content: "\e0a9";
}

.#{$icon-prefix}-sad:before {
  content: "\e0aa";
}

.#{$icon-prefix}-share-o:before {
  content: "\e0ab";
}

.#{$icon-prefix}-share:before {
  content: "\e0ac";
}

.#{$icon-prefix}-smile-o:before {
  content: "\e0ad";
}

.#{$icon-prefix}-smile:before {
  content: "\e0ae";
}

.#{$icon-prefix}-star-half:before {
  content: "\e0af";
}

.#{$icon-prefix}-star-o:before {
  content: "\e0b0";
}

.#{$icon-prefix}-star:before {
  content: "\e0b1";
}

.#{$icon-prefix}-telephone-fill:before {
  content: "\e0b2";
}

.#{$icon-prefix}-telephone:before {
  content: "\e0b3";
}

.#{$icon-prefix}-trophy-fill:before {
  content: "\e0b4";
}

.#{$icon-prefix}-trophy:before {
  content: "\e0b5";
}

.#{$icon-prefix}-visibility-off-o:before {
  content: "\e0b6";
}

.#{$icon-prefix}-visibility-on-fill:before {
  content: "\e0b7";
}

.#{$icon-prefix}-visibility-on-o:before {
  content: "\e0b8";
}

.#{$icon-prefix}-areachart-o:before {
  content: "\e0b9";
}

.#{$icon-prefix}-areachart:before {
  content: "\e0ba";
}

.#{$icon-prefix}-bar-chart-fill:before {
  content: "\e0bb";
}

.#{$icon-prefix}-bar-chart:before {
  content: "\e0bc";
}

.#{$icon-prefix}-barschart-o:before {
  content: "\e0bd";
}

.#{$icon-prefix}-barschart:before {
  content: "\e0be";
}

.#{$icon-prefix}-cloud-fill:before {
  content: "\e0bf";
}

.#{$icon-prefix}-cloud-o:before {
  content: "\e0c0";
}

.#{$icon-prefix}-code-off:before {
  content: "\e0c1";
}

.#{$icon-prefix}-code-on:before {
  content: "\e0c2";
}

.#{$icon-prefix}-drill-down-fill:before {
  content: "\e0c3";
}

.#{$icon-prefix}-drill-down-o:before {
  content: "\e0c4";
}

.#{$icon-prefix}-funnel-chart-fill:before {
  content: "\e0c5";
}

.#{$icon-prefix}-funnel-chart:before {
  content: "\e0c6";
}

.#{$icon-prefix}-hierarchy-fill:before {
  content: "\e0c7";
}

.#{$icon-prefix}-hierarchy-o:before {
  content: "\e0c8";
}

.#{$icon-prefix}-paste-code-fill:before {
  content: "\e0c9";
}

.#{$icon-prefix}-paste-code-o:before {
  content: "\e0ca";
}

.#{$icon-prefix}-piechart-o:before {
  content: "\e0cb";
}

.#{$icon-prefix}-piechart:before {
  content: "\e0cc";
}

.#{$icon-prefix}-table-fill:before {
  content: "\e0cd";
}

.#{$icon-prefix}-table:before {
  content: "\e0ce";
}

.#{$icon-prefix}-annex:before {
  content: "\e0cf";
}

.#{$icon-prefix}-briefcase-fill:before {
  content: "\e0d0";
}

.#{$icon-prefix}-briefcase:before {
  content: "\e0d1";
}

.#{$icon-prefix}-file-export-fill:before {
  content: "\e0d2";
}

.#{$icon-prefix}-file-export:before {
  content: "\e0d3";
}

.#{$icon-prefix}-file-fill:before {
  content: "\e0d4";
}

.#{$icon-prefix}-file-import-fill:before {
  content: "\e0d5";
}

.#{$icon-prefix}-file-import:before {
  content: "\e0d6";
}

.#{$icon-prefix}-file-send-fill:before {
  content: "\e0d7";
}

.#{$icon-prefix}-file-send:before {
  content: "\e0d8";
}

.#{$icon-prefix}-file:before {
  content: "\e0d9";
}

.#{$icon-prefix}-folder-fill:before {
  content: "\e0da";
}

.#{$icon-prefix}-folder:before {
  content: "\e0db";
}

.#{$icon-prefix}-link-o:before {
  content: "\e0dc";
}

.#{$icon-prefix}-lookup-fill:before {
  content: "\e0dd";
}

.#{$icon-prefix}-lookup:before {
  content: "\e0de";
}

.#{$icon-prefix}-mail-fill:before {
  content: "\e0df";
}

.#{$icon-prefix}-mail-o:before {
  content: "\e0e0";
}

.#{$icon-prefix}-qrcode:before {
  content: "\e0e1";
}

.#{$icon-prefix}-refresh:before {
  content: "\e0e2";
}

.#{$icon-prefix}-schedule-fill:before {
  content: "\e0e3";
}

.#{$icon-prefix}-schedule:before {
  content: "\e0e4";
}

.#{$icon-prefix}-underfined:before {
  content: "\e0e5";
}

.#{$icon-prefix}-unlink:before {
  content: "\e0e6";
}

.#{$icon-prefix}-add-square-fill:before {
  content: "\e0e7";
}

.#{$icon-prefix}-add-square-o:before {
  content: "\e0e8";
}

.#{$icon-prefix}-add:before {
  content: "\e0e9";
}

.#{$icon-prefix}-checkbox-indetermina:before {
  content: "\e0ea";
}

.#{$icon-prefix}-copy-o:before {
  content: "\e0eb";
}

.#{$icon-prefix}-copy:before {
  content: "\e0ec";
}

.#{$icon-prefix}-cycle:before {
  content: "\e0ed";
}

.#{$icon-prefix}-delete-o:before {
  content: "\e0ee";
}

.#{$icon-prefix}-delete:before {
  content: "\e0ef";
}

.#{$icon-prefix}-edit-o:before {
  content: "\e0f0";
}

.#{$icon-prefix}-edit:before {
  content: "\e0f1";
}

.#{$icon-prefix}-filter-o:before {
  content: "\e0f2";
}

.#{$icon-prefix}-filter:before {
  content: "\e0f3";
}

.#{$icon-prefix}-history:before {
  content: "\e0f4";
}

.#{$icon-prefix}-import-export-o:before {
  content: "\e0f5";
}

.#{$icon-prefix}-lock-fill:before {
  content: "\e0f6";
}

.#{$icon-prefix}-lock-o:before {
  content: "\e0f7";
}

.#{$icon-prefix}-printing-fill:before {
  content: "\e0f8";
}

.#{$icon-prefix}-printing:before {
  content: "\e0f9";
}

.#{$icon-prefix}-redo:before {
  content: "\e0fa";
}

.#{$icon-prefix}-refresh-o:before {
  content: "\e0fb";
}

.#{$icon-prefix}-remove:before {
  content: "\e0fc";
}

.#{$icon-prefix}-save-o:before {
  content: "\e0fd";
}

.#{$icon-prefix}-save:before {
  content: "\e0fe";
}

.#{$icon-prefix}-sort:before {
  content: "\e0ff";
}

.#{$icon-prefix}-undo-o:before {
  content: "\e100";
}

.#{$icon-prefix}-unlock-fill:before {
  content: "\e101";
}

.#{$icon-prefix}-unlock:before {
  content: "\e102";
}

.#{$icon-prefix}-arrow-down:before {
  content: "\e103";
}

.#{$icon-prefix}-arrow-left:before {
  content: "\e104";
}

.#{$icon-prefix}-arrow-right:before {
  content: "\e105";
}

.#{$icon-prefix}-arrow-up:before {
  content: "\e106";
}

.#{$icon-prefix}-down-thick:before {
  content: "\e107";
}

.#{$icon-prefix}-down:before {
  content: "\e108";
}

.#{$icon-prefix}-download-o:before {
  content: "\e109";
}

.#{$icon-prefix}-export-o:before {
  content: "\e10a";
}

.#{$icon-prefix}-fast-backward:before {
  content: "\e10b";
}

.#{$icon-prefix}-fast-forward:before {
  content: "\e10c";
}

.#{$icon-prefix}-left-thick:before {
  content: "\e10d";
}

.#{$icon-prefix}-left:before {
  content: "\e10e";
}

.#{$icon-prefix}-right-thick:before {
  content: "\e10f";
}

.#{$icon-prefix}-right:before {
  content: "\e110";
}

.#{$icon-prefix}-top:before {
  content: "\e111";
}

.#{$icon-prefix}-triangle-down:before {
  content: "\e112";
}

.#{$icon-prefix}-triangle-left:before {
  content: "\e113";
}

.#{$icon-prefix}-triangle-right:before {
  content: "\e114";
}

.#{$icon-prefix}-triangle-up:before {
  content: "\e115";
}

.#{$icon-prefix}-up-thick:before {
  content: "\e116";
}

.#{$icon-prefix}-up:before {
  content: "\e117";
}

.#{$icon-prefix}-add-message-fill:before {
  content: "\e118";
}

.#{$icon-prefix}-add-message:before {
  content: "\e119";
}

.#{$icon-prefix}-bank-card:before {
  content: "\e11a";
}

.#{$icon-prefix}-folder-list-fill:before {
  content: "\e11b";
}

.#{$icon-prefix}-folder-list:before {
  content: "\e11c";
}

.#{$icon-prefix}-new-folde:before {
  content: "\e11d";
}

.#{$icon-prefix}-review-fill:before {
  content: "\e11e";
}

.#{$icon-prefix}-sort-up-and-down-o:before {
  content: "\e11f";
}

.#{$icon-prefix}-video-fill:before {
  content: "\e120";
}

.#{$icon-prefix}-volume-fill:before {
  content: "\e121";
}

.#{$icon-prefix}-volume-slash-fill:before {
  content: "\e122";
}

.#{$icon-prefix}-volume-slash:before {
  content: "\e123";
}

.#{$icon-prefix}-volume1-fill:before {
  content: "\e124";
}

.#{$icon-prefix}-volume2-fill:before {
  content: "\e125";
}

.#{$icon-prefix}-volume3-fill:before {
  content: "\e126";
}

.#{$icon-prefix}-label:before {
  content: "\e127";
}

.#{$icon-prefix}-bolt-fill:before {
  content: "\e128";
}

.#{$icon-prefix}-addmini:before {
  content: "\e129";
}

.#{$icon-prefix}-archery-fill:before {
  content: "\e12a";
}

.#{$icon-prefix}-avatar-group-o:before {
  content: "\e12b";
}

.#{$icon-prefix}-bag-fill:before {
  content: "\e12c";
}

.#{$icon-prefix}-check-bold:before {
  content: "\e12d";
}

.#{$icon-prefix}-circle-o:before {
  content: "\e12e";
}

.#{$icon-prefix}-comment-o:before {
  content: "\e12f";
}

.#{$icon-prefix}-cooking-o:before {
  content: "\e130";
}

.#{$icon-prefix}-crown-undo-o:before {
  content: "\e131";
}

.#{$icon-prefix}-expression-add-o:before {
  content: "\e132";
}

.#{$icon-prefix}-fast-downword:before {
  content: "\e133";
}

.#{$icon-prefix}-fast-upword:before {
  content: "\e134";
}

.#{$icon-prefix}-file-warning-fill:before {
  content: "\e135";
}

.#{$icon-prefix}-filebox-o:before {
  content: "\e136";
}

.#{$icon-prefix}-find-o:before {
  content: "\e137";
}

.#{$icon-prefix}-focus-o:before {
  content: "\e138";
}

.#{$icon-prefix}-html-o:before {
  content: "\e139";
}

.#{$icon-prefix}-jumpout-o:before {
  content: "\e13a";
}

.#{$icon-prefix}-lab-o:before {
  content: "\e13b";
}

.#{$icon-prefix}-flowchart-o:before {
  content: "\e13c";
}

.#{$icon-prefix}-focus-fill:before {
  content: "\e13d";
}

.#{$icon-prefix}-focus-add-o:before {
  content: "\e13e";
}

.#{$icon-prefix}-link2:before {
  content: "\e13f";
}

.#{$icon-prefix}-lock-log-o:before {
  content: "\e140";
}

.#{$icon-prefix}-mark-o:before {
  content: "\e141";
}

.#{$icon-prefix}-market-fill:before {
  content: "\e142";
}

.#{$icon-prefix}-market-o:before {
  content: "\e143";
}

.#{$icon-prefix}-menu-point:before {
  content: "\e144";
}

.#{$icon-prefix}-money-circle-fill:before {
  content: "\e145";
}

.#{$icon-prefix}-notebook-check-fill:before {
  content: "\e146";
}

.#{$icon-prefix}-mute-o:before {
  content: "\e147";
}

.#{$icon-prefix}-mindmap-o:before {
  content: "\e148";
}

.#{$icon-prefix}-notebook-o:before {
  content: "\e149";
}

.#{$icon-prefix}-notebook-time-o:before {
  content: "\e14a";
}

.#{$icon-prefix}-order-warning-fill:before {
  content: "\e14b";
}

.#{$icon-prefix}-read:before {
  content: "\e14c";
}

.#{$icon-prefix}-renewal:before {
  content: "\e14d";
}

.#{$icon-prefix}-share-arrow-fill:before {
  content: "\e14e";
}

.#{$icon-prefix}-shuffl-playback:before {
  content: "\e14f";
}

.#{$icon-prefix}-page-fill:before {
  content: "\e150";
}

.#{$icon-prefix}-page-o:before {
  content: "\e151";
}

.#{$icon-prefix}-state-o:before {
  content: "\e152";
}

.#{$icon-prefix}-subscript:before {
  content: "\e153";
}

.#{$icon-prefix}-superscript:before {
  content: "\e154";
}

.#{$icon-prefix}-telephone-down-fill:before {
  content: "\e155";
}

.#{$icon-prefix}-textformat:before {
  content: "\e156";
}

.#{$icon-prefix}-time-countdown-o:before {
  content: "\e157";
}

.#{$icon-prefix}-unlink2:before {
  content: "\e158";
}

.#{$icon-prefix}-upload-cloud-fill:before {
  content: "\e159";
}

.#{$icon-prefix}-upload-cloud-o:before {
  content: "\e15a";
}

.#{$icon-prefix}-vpn-o:before {
  content: "\e15b";
}

.#{$icon-prefix}-wifi-fill:before {
  content: "\e15c";
}

.#{$icon-prefix}-word-o:before {
  content: "\e15d";
}

.#{$icon-prefix}-vertical-center:before {
  content: "\e15e";
}

.#{$icon-prefix}-vertical-down:before {
  content: "\e15f";
}

.#{$icon-prefix}-vertical-up:before {
  content: "\e160";
}

.#{$icon-prefix}-wifi-slash-fill:before {
  content: "\e161";
}

.#{$icon-prefix}-instructions-fill:before {
  content: "\e162";
}

.#{$icon-prefix}-removemini:before {
  content: "\e163";
}

.#{$icon-prefix}-line:before {
  content: "\e164";
}

.#{$icon-prefix}-file-move:before {
  content: "\e165";
}

.#{$icon-prefix}-expand-panel:before {
  content: "\e166";
}

.#{$icon-prefix}-checkbox-part-o:before {
  content: "\e167";
}

.#{$icon-prefix}-dialogue-o:before {
  content: "\e168";
}

.#{$icon-prefix}-monitor-video-fill:before {
  content: "\e169";
}

.#{$icon-prefix}-delete-column:before {
  content: "\e16a";
}

.#{$icon-prefix}-lattice:before {
  content: "\e16b";
}

.#{$icon-prefix}-telephonevolume-fill:before {
  content: "\e16c";
}

.#{$icon-prefix}-comment-q-fill:before {
  content: "\e16d";
}

.#{$icon-prefix}-alipay:before {
  content: "\e16e";
}

.#{$icon-prefix}-amazon:before {
  content: "\e16f";
}

.#{$icon-prefix}-android:before {
  content: "\e170";
}

.#{$icon-prefix}-apple:before {
  content: "\e171";
}

.#{$icon-prefix}-chrome:before {
  content: "\e172";
}

.#{$icon-prefix}-dropbox:before {
  content: "\e173";
}

.#{$icon-prefix}-github:before {
  content: "\e174";
}

.#{$icon-prefix}-google:before {
  content: "\e175";
}

.#{$icon-prefix}-qq:before {
  content: "\e176";
}

.#{$icon-prefix}-slack:before {
  content: "\e177";
}

.#{$icon-prefix}-twitter:before {
  content: "\e178";
}

.#{$icon-prefix}-wechat:before {
  content: "\e179";
}

.#{$icon-prefix}-wechatpay:before {
  content: "\e17a";
}

.#{$icon-prefix}-weibo:before {
  content: "\e17b";
}

.#{$icon-prefix}-html5:before {
  content: "\e17c";
}

.#{$icon-prefix}-ie:before {
  content: "\e17d";
}

.#{$icon-prefix}-cart-fill:before {
  content: "\e17e";
}

.#{$icon-prefix}-topic:before {
  content: "\e17f";
}

.#{$icon-prefix}-check-switch:before {
  content: "\e180";
}

.#{$icon-prefix}-close-switch:before {
  content: "\e181";
}

.#{$icon-prefix}-star-o-rate:before {
  content: "\e182";
}

.#{$icon-prefix}-star-half-rate:before {
  content: "\e183";
}

.#{$icon-prefix}-star-rate:before {
  content: "\e184";
}

.#{$icon-prefix}-slash:before {
  content: "\e185";
}

.#{$icon-prefix}-setting-fill:before {
  content: "\e186";
}

.#{$icon-prefix}-setting:before {
  content: "\e187";
}

.#{$icon-prefix}-calendar-y:before {
  content: "\e188";
}

.#{$icon-prefix}-cart-y:before {
  content: "\e189";
}

.#{$icon-prefix}-home-y:before {
  content: "\e18a";
}

.#{$icon-prefix}-time-y:before {
  content: "\e18b";
}

// mtdui3.0 图标名称变化
.#{$icon-prefix}-sortupanddown-o {
  @extend .#{$icon-prefix}-sort-up-and-down-o;
}

.#{$icon-prefix}-error-o {
  @extend .#{$icon-prefix}-error;
}

.#{$icon-prefix}-share-2 {
  @extend .#{$icon-prefix}-forward-o;
}

.#{$icon-prefix}-checkbox-unchecked {
  @extend .#{$icon-prefix}-checkbox-unchecked-o;
}

.#{$icon-prefix}-invoice-o {
  @extend .#{$icon-prefix}-invoice;
}

.#{$icon-prefix}-file-o {
  @extend .#{$icon-prefix}-file;
}

.#{$icon-prefix}-cart {
  @extend .#{$icon-prefix}-cart-o;
}

.#{$icon-prefix}-file-add-o {
  @extend .#{$icon-prefix}-add-square-o;
}

.#{$icon-prefix}-file-add {
  @extend .#{$icon-prefix}-add-square-fill;
}

.#{$icon-prefix}-minus {
  @extend .#{$icon-prefix}-remove;
}

.#{$icon-prefix}-colorfont {
  @extend .#{$icon-prefix}-color-font;
}

.#{$icon-prefix}-formatbold {
  @extend .#{$icon-prefix}-format-bold;
}

.#{$icon-prefix}-delete-selectedcolumn {
  @extend .#{$icon-prefix}-delete-column;
}

.#{$icon-prefix}-checkbox-indetermina-o {
  @extend .#{$icon-prefix}-checkbox-part-o;
}

.#{$icon-prefix}-bankcard {
  @extend .#{$icon-prefix}-bank-card;
}

.#{$icon-prefix}-h2 {
  @extend .#{$icon-prefix}-font-size-2;
}

.#{$icon-prefix}-h1 {
  @extend .#{$icon-prefix}-font-size-1;
}

.#{$icon-prefix}-originalsize {
  @extend .#{$icon-prefix}-original;
}

.#{$icon-prefix}-newfolde {
  @extend .#{$icon-prefix}-new-folde;
}

.#{$icon-prefix}-compress {
  @extend .#{$icon-prefix}-underfined;
}

.#{$icon-prefix}-html {
  @extend .#{$icon-prefix}-html5;
}

.#{$icon-prefix}-video1 {
  @extend .#{$icon-prefix}-video;
}

.#{$icon-prefix}-videofill {
  @extend .#{$icon-prefix}-video-fill;
}

.#{$icon-prefix}-folderlistfill {
  @extend .#{$icon-prefix}-folder-list-fill;
}

.#{$icon-prefix}-folderlist {
  @extend .#{$icon-prefix}-folder-list;
}

.#{$icon-prefix}-reviewfill {
  @extend .#{$icon-prefix}-review-fill;
}

.#{$icon-prefix}-briefcasefill {
  @extend .#{$icon-prefix}-briefcase-fill;
}

.#{$icon-prefix}-volume3fill {
  @extend .#{$icon-prefix}-volume3-fill;
}

.#{$icon-prefix}-volume1fill {
  @extend .#{$icon-prefix}-volume1-fill;
}

.#{$icon-prefix}-volume2fill {
  @extend .#{$icon-prefix}-volume2-fill;
}

.#{$icon-prefix}-volumeslash {
  @extend .#{$icon-prefix}-volume-slash;
}

.#{$icon-prefix}-volumeslashfill {
  @extend .#{$icon-prefix}-volume-slash-fill;
}

.#{$icon-prefix}-volumefill {
  @extend .#{$icon-prefix}-volume-fill;
}

.#{$icon-prefix}-close-thick {
  @extend .#{$icon-prefix}-check;
}

.#{$icon-prefix}-close-thick {
  @extend .#{$icon-prefix}-close;
}

/* .#{$icon-prefix}-icon-test {
  @extend .#{$icon-prefix}-topic;
} */